<h2>Pojazdy</h2>
<p>
  <a [routerLink]="['/pojazdy/new']" class="btn btn-primary">Nowy Pojazd</a>
</p>
<div class="well">
  <div class="form-group">
    <label for="marka">Marka</label>
    <select id="marka" class="form-control" [(ngModel)]="query.markaId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of marki" value="{{ m.id }}">{{ m.nazwa }}</option>
    </select>  
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Resetuj</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
          {{ c.title }}
            <i *ngIf="query.sortBy === c.key" 
              class="fa" 
              [class.fa-sort-asc]="query.isSortAscending"
              [class.fa-sort-desc]="!query.isSortAscending"></i>
        </div>
        <div *ngIf="!c.isSortable">
          {{ c.title }}
        </div>

      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pojazdy">
      <td>{{ p.id }}</td>
      <td>{{ p.marka.nazwa }}</td>
      <td>{{ p.model.nazwa }}</td>
      <td>{{ p.kontakt.nazwa }}</td>
      <td>
        <a [routerLink]="['/pojazdy/', p.id]">Podgląd</a>
      </td>
    </tr>
  </tbody>
</table> 